* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    margin: 0;
}
body{
    padding: 0px 100px;
    background-color: black;
    margin-bottom: 0px;
}

.header {
    display: flex;
    height: 100vh;
    background-position: center;
    background-image: url("../img/app.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    justify-content: space-between;
}

.header-taketour {
    background-color: black;

    height: 30px;
    padding: 0px 10px;
    margin-right: 20px;
    align-self: center;
    line-height: 30px;
    border-radius: 3px;
}

.header-taketour a {
    text-decoration: none;
    color: white;
}

.header-download {
    align-self: center;
    margin-left: 20px;
    border-radius: 10px;
    background-color: rgba(1, 1, 1, 0.5);
    color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    text-align: center;
    width: 400px;
}

.header-download div:first-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 15px;
    font-size: 25px;
}

.header-download div:nth-child(2) {
    font-size: 15px;
    font-weight: 450;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-download div:nth-child(3) a {
    display: inline-block;
    background-color: #67985E;
    width: 100%;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    color: #BFBFBF;
    font-weight: bold;
}

.intro {
    display: flex;
    padding: 50px 20px;
    justify-content: space-between;
    background-color: white;
}

.intro-text {
    display: flex;
    flex-direction: column;
    height: 471px;
    padding-right: 100px;
    font-size: 17px;
    justify-content: space-between;
}

.intro-text h2 {
    font-size: 50px;
}

.intro-text p:nth-child(2) {
    color: #4DAF50;
    font-size: 50px;
    font-weight: bold;
}

.intro-text span {
    font-size: 30px;
}

.intro-text div:nth-child(4) a {
    display: inline-block;
    text-decoration: none;
    background-color: #F1F1F1;
    color: #000000;
    padding: 10px 30px;
}

.clarity {
    display: flex;
    padding: 50px 20px;
    justify-content: space-between;
    background-color: #F1F1F1;
}

.clarity-text {
    height: 471px;
    padding-left: 100px;
    font-size: 17px;
    justify-content: space-between;
}

.clarity-text span {
    font-size: 30px;
}

.clarity-text h2 {
    font-size: 50px;
}

.clarity-text p:nth-child(2) {
    color: #F44336;
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
}

.clarity-text p:nth-child(3) {
    margin-top: 30px;
}

.features {
    background-color: #616161;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.features h2 {
    color: white;
    font-size: 50px;
    text-align: center;
}

.features p:nth-child(2) {
    color: white;
    text-align: center;
    padding-top: 30px;
}

.features .feature-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;

}

.features .feature-item {
    width: 23%;
    padding: 40px;
}

.features .feature-item i {
    font-size: 30px;
}

.feature-item-text {
    margin-top: 10px;
    color: white;
}

.pricing {
    padding-bottom: 70px;
    background-color: white;
}

.pricing h2 {
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
    padding-bottom: 10px;
}

.pricing p:nth-child(2) {
    text-align: center;
    margin-bottom: 60px;

}

.pricing .edition {
    display: flex;
    justify-content: space-evenly;

}

.pricing .edition .edition-item {
    width: 48%;
    text-align: center;
    box-shadow: 3px 3px 10px#888888;
}

.pricing .edition .edition-item:nth-child(2) div:first-child {
    background-color: #F44336;
}

.pricing .edition .edition-item div {
    height: 45px;
    border-bottom: 1px solid rgb(229, 229, 229);
    line-height: 45px;
}

.pricing .edition .edition-item div:first-child {
    height: 80px;
    background-color: #616161;
    color: white;
    line-height: 80px;
    font-size: 20px;
    border-bottom: none;
}

.pricing .edition .edition-item div:last-child {
    height: 80px;
    background-color: #F1F1F1;
    line-height: 80px;
    border-bottom: none;
}

.pricing .edition .edition-item div:nth-child(6) {
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    color: #646464;
}

.pricing .edition .edition-item div:last-child a {
    height: 45px;
    display: inline-block;
    background-color: #000000;
    ;
    line-height: 45px;
    font-size: 14px;
    color: white;
    padding: 0px 30px;
    text-decoration: none;
}

.pricing .edition .edition-item div span {
    font-weight: bold;
}

footer {
    height: 150px;
    background-color: #F1F1F1;
    flex-direction: column;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer a {
    text-decoration: none;
    color: black;
    text-decoration: underline;
}

footer div {
    text-align: center;
}